.center-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.center-text {
  font-size: 3rem;
  font-weight: bold;
  flex-shrink: 0; /* stops text from shrinking */
}







.breakfastArea {
  position: relative;
  text-align: center;
  padding: 2rem;
}

.side-img {
  position: absolute;
  left: 16rem;
  top: 65%;
  transform: translateY(-50%);
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.breakfastList {
  font-size: 1rem;
  
}







.lunchArea {
  position: relative;
  text-align: center;
  padding: 2rem;
}

.burger-img {
  position: absolute;
  right: 10rem;
  top: 65%;
  transform: translateY(-50%);
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.lunchList {
  font-size: 1rem;
  
}





.sidesArea {
  position: relative;
  text-align: center;
  padding: 2rem;
}

.fries-img {
  position: absolute;
  left: 16rem;
  top: 65%;
  transform: translateY(-50%);
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.sidesList {
  font-size: 1rem;
  
}





.drinksArea {
  position: relative;
  text-align: center;
  padding: 2rem;
}

.coffee-img {
  position: absolute;
  right: 17rem;
  top: 65%;
  transform: translateY(-50%);
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.drinksList {
  font-size: 1rem;
  
}




h2{
  text-align: center;
  
}





@media (max-width: 768px) {
  .center-layout {
    flex-direction: column;
    
    padding: 1rem;
  }

  .center-text {
    font-size: 2rem;
  }

  .breakfastArea,
  .lunchArea,
  .sidesArea,
  .drinksArea {
    position: static; /* kill the absolute positioning for mobile */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .side-img,
  .burger-img,
  .fries-img,
  .coffee-img {
    position: static;
    transform: none;
    width: 80%;
    max-width: 300px;
    margin: 1rem 0;
  }

  .breakfastList,
  .lunchList,
  .sidesList,
  .drinksList {
    font-size: 1rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
}








.app.dark .menu-container {
  background-color: #333;
}